.col{
    height: 54px!important;
    background-color: #cbcbcb;
    border: solid 1px;
}
.container{
    height:200px ;
    background-color: aquamarine;
}
.col-4{
    border: solid 1px;
    background-color: #cbcbcb;
}