.col{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-5{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-6{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-auto{
    background-color: aquamarine;
    border: solid 1px red;
}

.col-8{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-4{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-sm-8{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-sm-4{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-sm{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-md-8{
    background-color: aquamarine;
    border: solid 1px red;
}
.col-md-4{
    background-color: aquamarine;
    borde
    